<section class="hero">
    <div class="hero-body">
<h1 class="title">Restarted {{ restartedSince }}. Amount saved since: {{ amountSaved }}€</h1>
    </div>
</section>
<section class="section">
<h1 class="title">Messages</h1>
<table class="table is-fullwidth is-striped is-bordered is-narrow">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>From</th>
        <th>To</th>
        <th>Preview</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    {{#each messages}}
        <tr id="message-{{@index}}">
            <td>{{ this.timestamp }}</td>
            <td>{{ this.from }}</td>
            <td>{{ this.to }}</td>
            <td>{{ this.text }}</td>
            <td>
                <form action="/details/{{@index}}" method="get">
                    <button class="button is-info" type="submit">See details</button>
                </form>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
</section>